/* .color-detection {
    display: flex;
    align-items: flex-start;
    max-height: 300px; */
    /* justify-content: flex-end; */
    /* flex-direction: row;
    padding: 1rem; */
/* } */

/* .img-view-btn {
    height: 40px;
    max-width: 200px;
    background: #ff7f50;
} */
/* .img-view-btn:hover {
    opacity: .9;
} */

/* .container {
    display: flex;
    flex-direction: column;
    
} */
